<%- include ./partials/header.ejs %>
  <% if(locals.application) { %>
    <h1>Hello <%- user.first_name %>, you have successfully accessed the content</h1>
    <p>Email: <%- user.email %></p>
    <p>Graduation Year: <%- application.graduation_year %></p>
    <p>Updated at: <%- application.updatedAt %></p>
    <p>Accepted:
      <% if (application.accepted == true) { %>
        True
      <% } else { %>
        False
      <% } %>
    </p>
    <p><a href="<%- application['resume_url'] %>">Resume</a></p>
    <form action="/application" method="PUT" enctype="multipart/form-data">
      <label class="btn btn-default btn-file">
          <input id="resume-input" type="file" name="resume" hidden>
      </label>
      <button type="submit" class="btn btn-primary">Update Resume</button>
    </form>
  <% } else { %>
    <h1>No application submitted</h1>
    <a href="/application">Apply now</a>
  <% } %>
 
  <a href = '/logout'>Logout</a>

<%- include ./partials/footer.ejs %>
