<html prefix="og: http://ogp.me/ns#">
	<!-- Thanks for checking us out! -->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!-- Metas for OpenGraph protocol. Mainly about how to share this page via social networks. http://ogp.me/ -->
		<meta property="og:title" content="SB Hacks IV">
		<meta property="og:type" content="36 Hour Hackathon">
		<meta property="og:url" content="http://sbhacks.com">
		<meta property="og:image" content="http://sbhacks.com/images/logo.png">
		<!-- Metas for Twitter share. -->
		<meta name="twitter:url" content="http://sbhacks.com">
		<meta name="twitter:title" content="SB Hacks IV">
		<!--  For launch screen.  -->
  		<link rel="apple-touch-startup-image" href="/images/logo.png">
  		<meta name="apple-mobile-web-app-title" content="SB Hacks IV">
  		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="stylesheet" type="text/css" href="/css/landingpage.css" />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="robots" content="index, follow,">
		<link rel="canonical" href="http://sbhacks.com">

		<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">

		<title>SB Hacks IV</title>
	</head>
<body>
	<%- include("partials/landingpage/initialpage") %>
	<div class="grass-divider">
		<img src="/images/grass.svg" />
	</div>
	<%- include("partials/landingpage/intro") %>
	<%- include("partials/landingpage/faq/index") %>
	<%- include("partials/landingpage/sponsors/index") %>
	<%- include("partials/landingpage/social") %>
</body>
</html>
