<html prefix="og: http://ogp.me/ns#">
	<!-- Thanks for checking us out! -->
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110137783-1"></script>
		<script>
			if(window.location.hostname !== "localhost") {
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', 'UA-110137783-1');
			}
		</script>
		<!-- Facebook Pixel Code -->
		<script>
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window,document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			 fbq('init', '852509864922155'); 
			fbq('track', 'PageView');
		</script>
		<noscript>
			<img height="1" width="1" src="https://www.facebook.com/tr?id=852509864922155&ev=PageView&noscript=1"/>
		</noscript>
		<!-- End Facebook Pixel Code -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!-- Metas for OpenGraph protocol. Mainly about how to share this page via social networks. http://ogp.me/ -->
		<meta property="og:title" content="SB Hacks V">
		<meta property="og:type" content="36 Hour Hackathon">
		<meta property="og:url" content="http://sbhacks.com">
		<meta property="og:image" content="http://sbhacks.com/icons/appleTouch.jpg">
		<!-- Metas for Twitter share. -->
		<meta name="twitter:url" content="http://sbhacks.com">
		<meta name="twitter:title" content="SB Hacks V">
		<!--  For launch screen.  -->
  		<link rel="apple-touch-startup-image" href="/icons/appleTouch.jpg">
  		<meta name="apple-mobile-web-app-title" content="SB Hacks V">
  		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="stylesheet" type="text/css" href="/css/landingpage.css" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
		<meta name="robots" content="index, follow,">
		<link rel="canonical" href="http://sbhacks.com">

		<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lekton" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">

		<link rel="shortcut icon" type="image/png" href="icons/flaticon_PBf_icon.ico"/>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<title>SB Hacks VI</title>
	</head>
<body>
	<div id="bodyDiv">

	<a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;left:50px;top:0;width:10%;z-index:10000" href="https://mlh.io/seasons/na-2020/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2020-season&utm_content=black" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2020/mlh-trust-badge-2020-black.svg" alt="Major League Hacking 2020 Hackathon Season" style="width:100%"></a>

	
	<%- include("partials/landingpage/initialpage") %>
		<div id="content-container">
			<div id="backgroundCliffs">
				<img src="webAssets/Asset 43.svg" id="leftCliff">
				<img src="webAssets/Asset 44.svg" id="rightCliff">
			</div>
		<%- include("partials/landingpage/intro") %>
		<div class = "fishSchool" id="reverseFish">
			<img src = "webAssets/Asset 17.svg" id = "fishGroup">
			<img src = "webAssets/Asset 24.svg" id = "fish2" class = "fish">
			<img src = "webAssets/Asset 25.svg" id = "fish3" class = "fish">
			<img src = "webAssets/Asset 23.svg" id = "fish1" class = "fish">
		</div>
		<%- include("partials/landingpage/faq/index") %>
		<div class = "fishSchool" id="backgroundFish">
			<img src = "webAssets/Asset 17.svg" id = "fishGroup">
			<img src = "webAssets/Asset 24.svg" id = "fish2" class = "fish">
			<img src = "webAssets/Asset 25.svg" id = "fish3" class = "fish">
			<img src = "webAssets/Asset 23.svg" id = "fish1" class = "fish">
		</div>
		<%- include("partials/landingpage/team") %>
		<%- include("partials/landingpage/sponsors/index") %>
		<%- include("partials/landingpage/social") %>
		<img src="webAssets/Asset 36.svg" id="ruins">
	</div>

	</div>

	<script>
		var coll = document.getElementsByClassName("collapsible");
		var i;

		for (i = 0; i < coll.length; i++) {
		  coll[i].addEventListener("click", function() {
		  	// console.log("clieck");
		    this.classList.toggle("active");
		    var content = this.childNodes[1];
		    console.log(this.childNodes);
		    if (content.style.maxHeight){
		      	content.style.maxHeight = null;
		    } else {
				// console.log("scrolling");
		      	content.style.maxHeight = content.scrollHeight + "px";
		    }
		  });
		}
	</script>
</body>
</html>
